#header
	.content
		a#logo(href='/')
			img(src='/public/images/header/mars-logo.png', height='40')
		ul#nav
			li.navitem
				a.active(href='/') 首页
			li.navitem
				a#product(href='product') 产品
				ul.subnav
					li
						a(href='product') 建筑设计
					li
						a(href='product') 产品设计
					li
						a(href='product') 室内
			li.navitem
				a#news(href='news') 新闻
				ul.subnav
					li
						a(href='news') 产业新闻
					li
						a(href='news') 公司新闻
			li.navitem
				a#team(href='team') 团队
			li.navitem
				a#service(href='service') 服务
			li.navitem
				a#about(href='about') 关于
		.clear
	a#headSHBtn(href='javascript:;')
		i.fa.fa-bars
